@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&subset=cyrillic');

body {
  box-sizing: border-box;
  max-width: 960px;
  padding: 0 40px;

  color: #293330;
  background: #E9F5F2;

  font-family: "Open Sans", sans-serif;
}

nav,
main {
  max-width: 960px;
  margin:  0 auto;
  padding: 0 40px;
}

nav {
  display: flex;

  padding-top: 14px;

  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;

  font-size: 14px;
  font-weight: bold;
}

nav ul a {
  text-decoration: none;

  color: #293330;
  border-bottom: 1px solid rgba(229, 10, 92, 0.5);
}

nav ul a:hover {
  transition: border 200ms ease;
  text-decoration: none;

  border-bottom: 1px solid rgba(229, 10, 92, 1);
}
nav ul a.is-active {
  border: none;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
  margin-right: 30px;
}
